.FlexItem {
  // Padding between borders and inner content.
  margin: $flex-item-inner-content-margin;

  // Spaces each flex item equally with other flex items.
  &.equal-width { flex: 1; }

  // Gives this flex item double of the remaining space.
  &.double-width { flex: 2; }

  // See the first/last name input fields in the RegistrationForm component.
  &.no-margin-left { margin-left: 0; }
  &.no-margin-right { margin-right: 0; }
}
