.FlexContainer {
  display: flex;

  &.stack { flex-direction: column; }

  // Places buttons in a row for smaller viewport width.
  @media (max-width: $tablet-breakpoint-width) { flex-direction: row; }
}
