$input-border-blur-distance: 3px;
$input-shadow-size: 1px;
$form-element-spacing: 30px;

label,
select,
input[type='text'],
input[type='number'],
input[type='password'] {
  display: block;
  width: 100%;
  font-family: $base-font-family;
  letter-spacing: $base-letter-spacing;
  font-size: $body-font-size;
}

label {
  font-weight: bold;
  margin: $form-element-spacing 0 $form-element-spacing 0;
}

select,
input[type='text'],
input[type='number'],
input[type='password'] {
  margin-top: 5px;
  padding: .5rem;
  border-radius: $common-border-radius;
  border: solid 1px $light-grey;
  transition: box-shadow 0.3s, border 0.3s;
  box-sizing: border-box;
}

select,
input[type='text']:focus,
input[type='number']:focus,
input[type='password']:focus {
  outline: none;
  border: solid 1px $light-grey;
  box-shadow: 0 0 $input-border-blur-distance $input-shadow-size $light-grey;
}

button,
input[type='submit'] {
  font-family: $base-font-family;
  letter-spacing: $base-letter-spacing;
  font-size: $body-font-size;
  color: $primary-color;
  background-color: white;
  border: 1px solid $primary-color;
  border-radius: $common-border-radius;
  padding: .5rem;
  width: 150px;
  transition: all .2s;

  &.academic-event-type {
    color: $academic-color;
    border: 1px solid $academic-color;
  }

  &.social-event-type {
    color: $social-color;
    border: 1px solid $social-color;
  }

  &.service-event-type {
    color: $service-color;
    border: 1px solid $service-color;
  }

  &.wildcard-event-type {
    color: $wildcard-color;
    border: 1px solid $wildcard-color;
  }
}

button:hover,
input[type='submit']:hover {
  color: white;
  background-color: $primary-color;
  cursor: pointer;

  &.academic-event-type {
    background-color: $academic-color;
    color: white;
  }

  &.social-event-type {
    background-color: $social-color;
    color: white;
  }

  &.service-event-type {
    background-color: $service-color;
    color: white;
  }

  &.wildcard-event-type {
    background-color: $wildcard-color;
    color: white;
  }
}

button:focus,
input[type='submit']:focus {
  outline: none;
}
