@import url('https://fonts.googleapis.com/css?family=Abel');

$base-letter-spacing: 1px;
$body-font-size: 1rem;
$base-font-family: 'Abel', sans-serif;

h1,
h2,
h3,
h4,
a,
p,
label,
input[type='text'] {
  font-family: $base-font-family;
  letter-spacing: $base-letter-spacing;
}

a {
  color: $primary-color;
  text-decoration: none;
  border-bottom: 1px dotted $primary-color;
}

a,
p {
  font-size: $body-font-size;
}
