.light-emphasis { color: $dark-grey; }
.center { text-align: center; }
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.understated { color: $understated; }
.inline { display: inline; }
.horizontal-padding { padding: 0 25px 0 25px; }

// Colors associated with each event category.
.academic-color { color: $academic-color; }
.social-color { color: $social-color; }
.service-color { color: $service-color; }
.wildcard-color { color: $wildcard-color; }

// Buttons for admin operations.
.admin-button {
  color: $dark-grey;
  border: 1px solid $dark-grey;
  > a { transition: $base-transition; }

  &:hover {
    color: white;
    background-color: $dark-grey;
    > a { color: white; }
  }

  > a { color: $dark-grey; }
}
