.light-emphasis { color: $dark-grey; }
.center { text-align: center; }
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.understated { color: $light-grey; }
.inline { display: inline; }

.academic-highlight { color: $academic-color; }
.social-highlight { color: $social-color; }
.service-highlight { color: $service-color; }
