.light-emphasis { color: $dark-grey; }
.center { text-align: center; }
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.understated { color: $understated; }
.inline { display: inline; }

.academic-color { color: $academic-color; }
.social-color { color: $social-color; }
.service-color { color: $service-color; }

.admin-button {
  color: $dark-grey;
  border: 1px solid $dark-grey;

  &:hover {
    color: white;
    background-color: $dark-grey;
  }
}
