$seal-brown: #59260B;
$light-grey: #e4e4e4;
$dark-grey: #848484;

$pink: #CC7E85;
$grayish-blue: #7EA2AA;
$light-purple: #9C7A97;

// Colors used in application color schene.
$primary-color: $seal-brown;
$understated: $light-grey;

// Constants for buttons and form elements.
$common-border-radius: 3px;

// Layout-related constants.
$gutter-margin: 200px; // Margin between main content and sides of window.
$mobile-gutter-margin: 50px;
$container-padding: 25px; // Padding between divs and its interior elements.
$container-vertical-padding: 50px; // Padding between content and top/bottom.
$mobile-container-vertical-padding: 100px;

// Breakpoints.
$phone-breakpoint-width: 400px;
$tablet-breakpoint-width: 800px;

// Border style to add to divs for testing purposes.
$test-border: 1px solid $dark-grey;

// Base transition for simple elements like links.
$base-transition: .3s all;

// Colors associated with event types.
$academic-color: $pink;
$social-color: $grayish-blue;
$service-color: $light-purple;
