// Named colors.
$seal-brown: #59260B;
$dark-grey: #545454;

// Colors used in application color schene.
$primary-color: $seal-brown;
$light-emphasis-color: $dark-grey;

// Layout-related constants.
$minimum-top-padding: 50px;
