.ChangeSigninModeButton {
  cursor: pointer;    // turns mouse into pointer icon
  user-select: none;  // avoids highlighting text inside buutton

  padding: $flex-item-inner-content-margin;

  border-radius: $common-border-radius;

  display: inline-block; // accomodates only width of text

  // Positioned similarly to MenuButton.
  position: absolute;
  bottom: $container-vertical-padding;
  left: ($gutter-margin / 2) - ($menu-button-width / 2);

  border: 1px solid $understated;
  color: $understated;
}
