$border-width: 3px;

.EventCard {
  margin: $container-padding;

  // Default border for wildcard event type.
  border-left: $border-width solid $dark-grey;

  > .event-summary {
    // Some padding to make room for the left border.
    padding-left: $container-padding;
  }

  .event-form-container {
    // Forces the 'Create' button to wrap to a second row, beneath the input and
    // select elements.
    flex-wrap: wrap;

    > .event-create-section {
      flex: 100%;
      text-align: center;
    }

    // Reduces padding to make overall card height less.
    > .event-form-item {
      padding-top: 0;
      padding-bottom: 0;
    }

    // FIXME Keep select height same as input text without hard-coding height.
    select { height: 39px; }

    // Reduces form element margin to keep the event card compact.
    label { margin: 10px; }
  }

  // Changes border color depending on event type.
  &.academic-event-type { border-left: $border-width solid $academic-color; }
  &.social-event-type { border-left: $border-width solid $social-color; }
  &.service-event-type { border-left: $border-width solid $service-color; }

}
