.PointSelectionForm {
  border: $test-border;

  > .primary-number-input {
    input[type='number'] {
      // Resets inherited form styles.
      border: none;
      box-shadow: none;
      border-radius: 0;

      // Adds an underline below input field.
      border-bottom: 2px solid $understated;
      transition: border .3s;

      &:focus {
        border-bottom: 2px solid $dark-grey;
      }
    }
  }
}
