.PointSelectionForm {

  .primary-number-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    input[type='number'] {
      // Resets inherited form styles.
      border: none;
      box-shadow: none;
      border-radius: 0;

      font-size: 2rem;
      width: 100px;

      // Adds an underline below input field.
      border-bottom: 2px solid white;
      transition: border .3s;
    }

    input[type='number']:focus {
      border-bottom: 2px solid $light-grey;
    }

    > .wrapped-button {
      flex-basis: 100%;
    }
  }
}
