$list-item-margin: 5px;

.Sidebar {
  background-color: #fff;
  width: 350px;
  transition: all .3s
}

.SidebarContent {
  margin: $minimum-top-padding $list-item-margin $minimum-top-padding $list-item-margin;

  &.header {
    text-align: center;
  }

  &.navigation-list {
    list-style: none;
  }

  &.navigation-list-item {
    margin: $list-item-margin 0 $list-item-margin 0;
  }
}
