// Evenly divides a page into two halves of equal width.
.TwoColumnSplit {
  display: flex;

  > .left-column,
  > .right-column {
    flex: 1;
  }

  > .left-column {
    background-color: red;
  }

  > .right-column {
    background-color: blue;
  }
}
